﻿@model ContactCreateViewModel

<div class="row">
    <div class="col">
        <form asp-action="Create" asp-controller="Contact" method="post" id="form">
            <div class="form-group">
                <label asp-for="@Model.FirstName"></label> <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
                <input asp-for="@Model.FirstName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.LastName"></label> <span class="text-danger" asp-validation-for="@Model.LastName"></span>
                <input asp-for="@Model.LastName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.DateOfBirth"></label> <span class="text-danger" asp-validation-for="@Model.DateOfBirth"></span>
                <input asp-for="@Model.DateOfBirth" class="form-control" />
            </div>
            <div id="emailItemsContainer">
                <span class="text-danger" asp-validation-for="@Model.Emails"></span>
                @Html.EditorFor(model => model.Emails)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAddEmailItem" value="Add email" />
                </div>
            </div>
            <div id="phoneNumberItemsContainer">
                <span class="text-danger" asp-validation-for="@Model.PhoneNumbers"></span>
                @Html.EditorFor(model => model.PhoneNumbers)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAddPhoneNumberItem" value="Add phone number" />
                </div>
            </div>
            <div id="addressItemsContainer">
                @Html.EditorFor(model => model.Addresses)
            </div>
            <div class="row">
                <div class="col-md-4">
                    <input class="btn btn-primary" type="button" id="btnAddressItem" value="Add address" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Comment"></label> <span class="text-danger" asp-validation-for="@Model.Comment"></span>
                <input asp-for="@Model.Comment" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="submit" value="Create" id="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/formDynemicAddSection.min.js"></script>
    <script type="text/javascript">
        AddListItemListener("btnAddEmailItem", "/contact/AddEmailItem", "emailItemsContainer");
        AddListItemListener("btnAddPhoneNumberItem", "/contact/AddPhoneNumberItem", "phoneNumberItemsContainer");
        AddListItemListener("btnAddressItem", "/contact/AddAddressItem", "addressItemsContainer");

        function RemoveAddressItem(id) {
            $.ajax({
                async: true,
                data: $("#form").serialize(),
                type: "POST",
                url: `/contact/RemoveAddressItem/${id}`,
                success: function (str) {
                    document.querySelector(`[modelId="${id}"]`).remove();
                }
            })
           
        }
    </script>
}