﻿@model IEnumerable<ContactIndexViewModel>

<div>
    @if (Model.Any( )) {
        <ul>
            @foreach (ContactIndexViewModel contact in Model) {
                <li>@contact.FullName</li>
            }
        </ul>
    } else {
        <p>Er zijn geen contacten</p>
    }
</div>
