﻿@model AddressViewModel

<div class="row rounded m-2 bg-light border border-primary" modelId="@Model.Guid">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.City"></label> <span class="text-warning" asp-validation-for="@Model.City"></span>
            <input asp-for="@Model.City" class="form-control" />
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="@Model.ZipCode"></label> <span class="text-warning" asp-validation-for="@Model.ZipCode"></span>
            <input asp-for="@Model.ZipCode" class="form-control" />
        </div>
    </div>

    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="@Model.AddressLine1"></label> <span class="text-warning" asp-validation-for="@Model.AddressLine1"></span>
            <input asp-for="@Model.AddressLine1" class="form-control" />
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label asp-for="@Model.AddressLine2"></label> <span class="text-warning" asp-validation-for="@Model.AddressLine2"></span>
            <input asp-for="@Model.AddressLine2" class="form-control" />
        </div>
    </div>
    @if (!Model.RemoveRemoveButton) { 
        <button class="btn btn-primary" onclick="RemoveAddressItem(this.id)" id="@Model.Guid">remove</button>
    }

    @Html.HiddenFor(model => model.RemoveRemoveButton)
    @Html.HiddenFor(model => model.Guid)
</div>