﻿@model PhoneNumberViewModel

<div class="row">
    <div class="col">
        <div class="form-group">
            <label asp-for="@Model.Value"></label> <span class="text-warning" asp-validation-for="@Model.Value"></span>
            <input asp-for="@Model.Value" class="form-control" />
        </div>
    </div>
</div>
